{% extends 'main/portifolio.html' %}
{% block title %}Sql{% endblock %}


{% block content %}
{% load static %}
		{% load i18n %}
<style type="text/css">
	body{
		background: url("{% static 'apresentacoes/sql_preset.png' %}");
		background-size: cover;
		background-repeat: no-repeat;
	}


    #sql{
    	font-family: DM_Serif_Display;
    	text-align:  left;
    	color: white;
	   }
	   #sql h1{
	   		margin-left: 10%;
	   		color: #4B94F4;
	   		font-size: 60px;
	   		text-shadow: 0 0 0.2em rgba(0, 75, 196, 0.3), 0 0 0.2em rgba(0, 75, 196, 0.3),
        0 0 0.2em rgba(0, 75, 196, 0.3)
	   }
	   #sql p{
	   	margin: 0 auto 0 auto;
	   	width: 90%;
	   	text-align: center;
	   	font-size: 30px;
	   	text-shadow: 0.1em 0.1em 0.2em black;
	   	padding: 0 10%;
	   }
	   #sql #weblink a{
	   	text-decoration: none;
	   	color: rgba(5, 179, 130, 1.0);
	   	font-size: 40px;
	   	text-shadow: 0.1em 0.1em 0.2em black
	   }
	   #sql #weblink {
	   	background: rgba(0, 50, 50, 0.5);
	   	width: 40%;
	   	margin: 5% auto 0 auto;
	   	padding-bottom: 5px;
	   	border-radius: 10px;
			text-align: center;
		margin-bottom: 10px;
	   }



</style>



<!---->
<div id="sql">
	<h1>MySQL</h1>
	<p>MySQL é uma linguagem amplamente usada em consultas a bancos de dados relacionais, esta apresentação é uma continuação da
	apresentação SQL. O MySQL complementa os conceitos de SQL com coiceitos mais especificos dessa linguagem.</p>
	<div id="weblink">
	<a href="https://www.canva.com/design/DAFPr9e_Xso/xGbPHrFnuHsw5mBOH28p9g/view?utm_content=DAFPr9e_Xso&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Link para a apresentação</a>
</div>
</div>






{% endblock %}


{% block script %}
<script type="text/javascript">
	
$(".menu_font a").css('color','white')
$("#btn3 a").css('color','rgba(255, 145, 77,1.0)')	

//console.log("SUM "+ (width_/height_))



if (width_ >= 900){

}
else if ((width_/height_) < 1.77){
	change_back("{% static 'apresentacoes/sql_mobile.png' %}","body");

}


if ((width_/height_) < 0.81 && (width_/height_) > 0.61){ //&& (width_/height_) > 0.95){
	$('#sql p').css('font-size','23px')
	$('#sql #weblink a').css('font-size','23px')
		
}else if ((width_/height_) < 0.61){
	$('#sql h1').css('text-align','center');
	$('#sql p').css('font-size','15px');
	$('#sql #weblink a').css('font-size','15px');
}


	

</script>


{% endblock%}