{% extends 'main/portifolio.html' %}
{% block title %}WebSocket{% endblock %}


{% block content %}
{% load static %}
		{% load i18n %}
<style type="text/css">
	body{
		background: url("{% static 'apresentacoes/websocket_preset.png' %}");
		background-size: cover;
		background-repeat: no-repeat;
	}

    #websocket{
    	font-family: DM_Serif_Display;
    	text-align:  left;
    	color: white;
	   }
	   #websocket h1{
	   		margin-left: 10%;
	   		color: rgb(0, 174, 196);
	   		font-size: 60px;
	   		text-shadow: 0 0 0.2em rgba(0, 174, 196, 0.3), 0 0 0.2em rgba(0, 174, 196, 0.3),
        0 0 0.2em rgba(0, 174, 196, 0.3)
	   }
	   #websocket p{
	   	margin: 0 auto;
	   	width: 80%;
	   	text-align: center;
	   	font-size: 30px;
	   	text-shadow: 0.1em 0.1em 0.2em black
	   }
	   #websocket #weblink a{
	   	text-decoration: none;
	   	color: rgba(5, 179, 130, 1.0);
	   	font-size: 40px;
	   	text-shadow: 0.1em 0.1em 0.2em black
	   }
	   #websocket #weblink {
	   	background: rgba(0, 50, 50, 0.5);
	   	width: 40%;
	   	margin: 5% auto 0 auto;
	   	padding-bottom: 5px;
	   	border-radius: 10px;
			text-align: center;
		margin-bottom: 10px;
	   }



</style>



<!---->
<div id="websocket">
	<h1>WebSocket</h1>
	<p>WebSocket é uma ferramenta comumente usada para transmissão de dados em tempo real, estabelecendo uma conexão contínua entre cliente e servidor. A apresentação é focada em demosntrar o funcionamento da tecnologia, a linguagem usada é python, mais especificamente com o auxilio de uma biblioteca do django em conjunto com javascript, o projeto usado como exemplo foi um chat online.</p>
	<div id="weblink">
	<a href="https://www.canva.com/design/DAFKJhxDbZM/9q9ZlQgJw9CrFLLfgC9mTg/view?utm_content=DAFKJhxDbZM&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Link para a apresentação</a>
</div>
</div>






{% endblock %}


{% block script %}
<script type="text/javascript">
	
$(".menu_font a").css('color','white')
$("#btn3 a").css('color','rgba(255, 145, 77,1.0)')	

//console.log("SUM "+ (width_/height_))

if (width_ >= 900){

}
else if ((width_/height_) < 1.77 && (width_/height_) > 0.94){ //){

	change_back("{% static 'apresentacoes/web_mobile2.png' %}","body");
		
}else if ((width_/height_) < 0.94 && (width_/height_) > 0.81){ //&& (width_/height_) > 0.95){

	change_back("{% static 'apresentacoes/web_mobile.png' %}","body");
		
}else if ((width_/height_) < 0.81 && (width_/height_) > 0.61){ //&& (width_/height_) > 0.95){

	change_back("{% static 'apresentacoes/web_mobile3.png' %}","body");

	$('#websocket p').css('font-size','23px')
	$('#websocket #weblink a').css('font-size','23px')
		
}else if ((width_/height_) < 0.61){

	change_back("{% static 'apresentacoes/web_mobile4.png' %}","body");

	$('#websocket h1').css('color','rgb(0, 120, 150)')
	.css('text-align','center')
	.css('text-shadow','0 0 0.2em rgba(180, 180, 180, 0.3), 0 0 0.2em rgba(180, 180, 180, 0.3), \
        0 0 0.2em rgba(180, 180, 180, 0.3)');
	$('#websocket p').css('font-size','15px');
	$('#websocket #weblink a').css('font-size','15px');

}

	

</script>


{% endblock%}