<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Documentations</title>
  <link href="/static/documentations/styleMain.css" rel="stylesheet" type="text/css" />
  <link id="favicon" rel="shortcut icon" type="image/png" href="/static/documentations/favicon.ico" />
</head>

<body>
  <div style="display: flex;flex-direction: column;">

    <div id="navBar">
      <div id="mainIcon">
        <a href="https://rafaelmr.com.br"></a>
      </div>
      
      <div style="margin: 0 auto;">
        <div id="titleNav">Documentations</div>
        <div id="byNav">by Rafael Moreira</div>
      </div>

      
      <div id="conIcons">
        <a href="https://www.linkedin.com/in/rafael-moreira-ramos-de-rezende-16420b21b/"></a>
        <a href="https://github.com/UPraggy"></a>
        <a href="mailto:rafaelmoreira2001ofc@gmail.com"></a>
      </div>
    </div>

    <div id="documents">

    </div>


  </div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="/static/documentations/scriptMain.js"></script>
</body>

</html>