{% extends "main/base.html" %}
{% block title %}Change Password{% endblock %}
{% load i18n static %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style_form.css' %}" >
<style>
  #form_css{
    padding: 5%;
    margin: 10% 10%;
  }
</style>
    <div class="row">
      <div class="col-md-8 mx-auto">
          <div id="form_css">
	<h3 id="title_reg">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</h3>

	<h3 id="title_reg">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</h3>
      </div>
    </div>
{% endblock %}
