{% extends "main/base.html" %}
{% block title %}Change Password{% endblock %}
{% load i18n static %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style_form.css' %}" >
<style>
  #form_css{
    padding: 5%;
    margin: 10% 20%;
  }
</style>
    <div class="row">
      <div class="col-md-8 mx-auto">
          <div id="form_css">
        <h1 id="title_reg">{% translate "Your password has been set.  You may go ahead and log in now." %}</h1>
      </div>
    </div>


{% endblock %}

