{% extends "main/base.html" %}
{% block title %}Change Password{% endblock %}
{% load i18n static %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style_form.css' %}" >
<style>
  #form_css{
    padding: 5%;
    margin: 10% 20%;
  }
#reset_btn{
    width: 35%; 
    margin-left: 33%;  
  }

</style>

    <div class="row">
      <div class="col-md-8 mx-auto">

        <form method="POST"> {% csrf_token %}
        
          <div id="form_css">
            {% if validlink %}
            <h1 id="title_reg">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</h1>
            <input style="display:none;" autocomplete="username" value="{{ form.user.get_username }}">
            <div class="form-floating mb-3">
                 {{ form.new_password1 }}
                 {{ form.new_password1.errors }}
                 <label for="id_new_password1">{% translate 'New password:' %}</label>
            </div>
            <div class="form-floating mb-3">
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
            <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
            </div>
            <input id='log_btn' type = "submit" class="btn btn-success" value="{% translate 'Change my password' %}">
          </div>
        {% else %}

        <h1 id="title_reg">{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</h1>
        <a href="../../../password_reset" id='reset_btn'class="btn btn-success"/>{% translate "Password Reset" %}</a>
    {% endif %}
        </form>
      </div>
    </div>



<script>
  window.onload = function () {
    $("div .form-group").addClass("form-floating mb-3");
    $("div .form-floating input").addClass("form-control");
    $("div .form-floating input").attr("placeholder", "RANDOM");
} 
</script>
{% endblock %}
