{% extends 'main/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'style_form.css' %}" >
<!--import Bootstrap in yor main file-->

<style>
  #form_css{
    padding: 5%;
    margin: 20% 20%;
  }

</style>

<div class="row">
	<div class="col-md-8 mx-auto">
		<form method="POST" class=""> {% csrf_token %}
			<div id="form_css">
				<h1 id="title_reg">RESET YOUR PASSWORD</h1>
					<div class="form-floating mb-3">
						{{ form.email}}
						<label for="floatingInput">Email</label>
					</div>
        	<button type="submit" class="btn btn-success" style="padding: 2% 3%;" value="Send email">Reset my Password</button>
		</form>
	</div>
</div>
<script>
	window.onload = function () {
		$("div .form-group").addClass("form-floating mb-3");
		$("div .form-floating input").addClass("form-control");
		$("div .form-floating input").attr("placeholder", "RANDOM");
}

    
</script>
{% endblock %}


