{% load i18n %}

<!DOCTYPE html>
<html>
<head>
</head>

<body>
	<table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:332px;max-width:600px;">
	<tbody>
		<tr height="16px">
			<td class="td_temp"rowspan="3"></td>
			<td></td>
			<td width = "32px" rowspan="3"></td></tr>
			<tr><td><p>Dear User,</p><p>We received a password reset request for your user <strong>{{user}}</strong>:</p>
			<div style="text-align:center">
			<strong style="text-align:center; font-size:24px;font-weight:bold;">
			<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">PASSWORD RESET</a></strong></div>

		<p>If you didn't request this code, it's possible that someone else is trying to access your account. 
		<strong> Do not forward or give the code to anyone.</strong></p>

		<p>You received this message because this email address <strong>{{email}}</strong> is listed as your user's recovery email.</p>

		<p>Yours sincerely,</p><p>Login System</p></td></tr><tr height="32px"></tr></tbody></table>



